<% the_id = params["id"] %>
<% the_book = Book.read(the_id) %>
<% reviews = Review.where("title" => the_book["title"]) %>
<% avgrating = Review.where("title" => the_book["title"]).average("rating") %>

<h1><%= the_book["title"] %></h1>

<ul>

    <li>
    <strong>Price:</strong> <%= the_book["price"] %>
    </li>
    <li>
    <strong>Rating: </strong> <%= avgrating %>
    </li>
</ul>

<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_reviews = Review.where("title" => the_book["title"]) %>

  <thead>
  <tr>
    <th> Reviewer </th>
    <th> Feedback </th>
  </tr>
  </thead>
  <tbody>
<% all_reviews.each do |feedback| %>
  <tr>
    <td> <%= feedback ["id"] %> </td>
    <td> <%= feedback ["feedback"] %> </td>
  </tr>
<% end %>
</tbody>
</table>
